body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: #585858;
}

a {
  color: #169CEE;
  text-decoration: underline;
}

a:hover {
  color: #2C3D50;
}

a:visited {
  color: #2a6496;
}


/*
  helpers
  */

.align-center {
  text-align: center;
}

.hidden {
  display: none;
}

/*
  app css
  */

.container {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 860px;
}

#parse-logo {
  width: 109px;
  height: 110px;
  margin: 0 0 20px;
  text-align: center;
}

.up-and-running, .time-to-deploy {
  font-weight: bold;
}

.advice {
  margin-bottom: 40px;
}

.advice {
  background: #f4f4f4;
  border-radius: 4px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  padding: 10px 20px;
}

.bigButton {
  position: relative;
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 20px 40px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 24px;
  height: 30vh;
  box-sizing: border-box;
  margin-bottom: 5vh;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}

.bigButton p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  vertical-align: middle;
  text-align: center;
}

.bigButton:hover {
  border-top-color: #65b2e6;
  background: #65b2e6;
  color: #ffffff;
}

.bigButton:active {
  border-top-color: #326d94;
  background: #326d94;
}

#parse-url {
  color: #169CEE;
  font-weight: bold;
}

.step--container {
  margin: 30px 0 20px;
  border-top: 1px solid #E2E2E2;
  padding-top: 30px;
}

/* Disabled step */
.step--disabled .step--number {
  background: #fff;
  border-color: #B5B5B5;
  color: #B5B5B5;
}

.step--disabled .step--info {
  border-color: #B5B5B5;
  color: #B5B5B5;
}

.step--disabled .step--action-btn,
  .step--disabled .step--action-btn:hover {
  border-color: #B5B5B5;
  background: #fff;
  color: #B5B5B5;
  cursor: default;
}

/* Disabled step eof */

.step--action-btn.success,
.step--action-btn.success:hover {
  background: #57C689;
  border-color: #57C689;
  color: #fff;
  cursor: default;
  font-weight: bold;
}

.step--number {
  background: #169CEE;
  border: 1px solid #169CEE;
  border-radius: 28px;
  -webkit-border-radius: 28px 28px;
  -moz-border-radius: 28px 28px;
  -ms-border-radius: 28px 28px;
  -o-border-radius: 28px 28px;
  display: block;
  margin: auto;
  width: 47px;
  height: 47px;
  font-weight: bolder;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 47px; /* follows width and height */
}

.step--action-btn {
  color: #169CEE;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #169CEE;
  padding: 12px 18px;
  border-radius: 28px;
  -webkit-border-radius: 28px 28px;
  -moz-border-radius: 28px 28px;
  -ms-border-radius: 28px 28px;
  -o-border-radius: 28px 28px;
  cursor: pointer;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  text-transform: uppercase;
}

.step--action-btn:hover {
  background: #169CEE;
  color: white;
}

.step--pre {
  margin-top: 4px;
  margin-bottom: 0;
  background: #f4f4f4;
  border-radius: 4px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  padding: 10px 20px;
  word-wrap: break-word;
  white-space: inherit;
  font-size: 13px;
}

#local-parse-working {
  font-size: 18px;
  line-height: 24px;
  color: #57C689;
  font-weight: bold;
}

#step-4 .step--number {
  background: #57C689;
  border-color: #57C689;
  color: #fff;
  display: inline-block;
}

.step--deploy-btn {
  display: block;
  margin-top: 20px;
  width: 170px;
  color: #57C689 !important;
  font-weight: bold;
  border-color: #57C689;
}

.step--deploy-btn:hover {
  background: #57C689;
  color: #fff !important;
}

#prod-test {
  margin-bottom: 60px;
}

#prod-test input {
  background-color: #fff;
  border: 1px solid #B5B5B5;
  color: #000000;
  font-family: "Inconsolata";
  font-size: 16px;
  line-height: 17px;
  padding: 12px;
  width: 260px;
  border-radius: 4px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  display:block;
  margin-bottom: 10px;
}

#footer {
  border-top: 1px solid #E2E2E2;
  padding: 20px;
}

#footer ul li {
  list-style-type: none;
  display:inline-block;
}
#footer ul li:after {
  content: "-";
  padding: 10px;
}
#footer ul li:last-child:after {
  content: "";
}